<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="[%p] %d{MM-dd-yyyy HH:mm:ss} [%t] [%C{1}] (%F:%L) - %m%n" />
        </Console>
        <RollingFile name="File" fileName="logs/phenomiser.log.log">
            <PatternLayout pattern="[%p] %d{MM-dd-yyyy HH:mm:ss} [%t] [%C{1}] (%F:%L) - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>

        <logger name="org.monarchinitiative.phenol" level="error"/>
        <Root level="trace">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>